{{#if posts.length}}
<section>
    <h2 class="your-post">Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postInfo post}}
    {{/each}}
</section>
{{/if}}
<button type="submit" class="btn newPostBtn"><a href="/dashboard/new" class= "newPost-link">+ NEW POST</a></button>
<script src="/js/addPost.js"></script>