<div class="card">
      <h3 class="card-header-log">SIGN UP</h3>
      <form id="signup-form" class="card-body-log">
        <label class="form-label" for="username-signup">USERNAME</label>
        <input  id="username-signup" type="text" class="form-input" />

        <label class="form-label" for="password-signup">PASSWORD</label>
        <input id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn">SIGN UP!</button>
        <a class="login-link" href="/login">LOG IN Instead!</a>
      </form>
    </div>
    
<script src="/js/signup.js"></script>